.containerLoginForm {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  background-color: white;
  gap: 20px;
}

.containerLoginFormDark {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  background-color: rgb(62, 62, 62);
  color: white;
  gap: 20px;
}

.logInputs {
  width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  gap: 20px;
}

input {
  width: 242px;
  height: 22px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid rgb(3, 3, 181);
}

.logInputs_BtnLogin {
  margin: 0;
  width: 250px;
  height: 34px;
  border-radius: 5px;
  background-color: rgb(3, 3, 181);
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.logReset {
  font-size: 18px;
  color: rgb(171, 197, 217);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0px;
}

.logReset_Link {
  text-decoration: none;
}
