.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 26px;
  left: 75px;
  top: 28px;
}

.bm-burger-bars {
  background: #772e25;
}

.bm-burger-bars-hover {
  background: #c44536;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #197278;
}

.bm-menu-wrap {
  position: fixed;
  height: 140px !important;
  width: 100% !important;
  left: 0px;
  top: 80px;
}

.bm-menu {
  background: #772e25;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #c44536;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.bm-item {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  height: 100px;
}
.bm-item:hover {
  color: #ffffff;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: aliceblue;
  text-decoration: none;
  height: 120px;
}
